body,html{
	background-image: url("/public/imgs/bg.jpg");
	background-size: cover;
	 background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu-chinh{
	display: block;
	background: #00dcc2;
	margin: 0; padding: 5px 0;
}
.menu-chinh .init{
	display: block;
	margin: 5px auto;
	width: 90%;
	max-width: 1200px;
}
.menu-chinh .init .menu-left{
	display: inline-block;
	margin: 0; padding: 0;
}
.menu-chinh .init .menu-left .menu-item{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 10px;
	padding: 3px 0px;
	border-bottom: 2px solid rgba(255,255,255,0);
}
.menu-chinh .init .menu-left .menu-item:hover{
	color: white;
	border-bottom: 2px solid white;
}
.menu-chinh .init .menu-left .menu-item.active{
	color: white;
	border-bottom: 2px solid white;
}
.menu-chinh .init .menu-left .menu-item.active:hover{
	color: white;
	border-bottom: 2px solid white;
}
.menu-chinh .init .menu-right{
	display: inline-block;
	margin: 0; padding: 0;
	float: right;
}
.menu-chinh .init .menu-right .search-form, .menu-chinh .init .menu-right .user-area{
	position: relative;
	display: inline-block;
}
.menu-chinh .init .menu-right .user-area .title{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 10px;
	padding: 3px 0px;
	border-bottom: 2px solid rgba(255,255,255,0);
	cursor: pointer;
}
.menu-chinh .init .menu-right .user-area .title:hover{
	color: white;
	border-bottom: 2px solid white;
}
.menu-chinh .init .menu-right .user-area .user-menu{
	display: none;
}
.menu-chinh .init .menu-right .user-area:hover .user-menu{
	position: absolute;
	top: 100%;
	left: 0; background: white;
	display: block;
	z-index: 999999;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 10px;
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	width: 150px;
}
.menu-chinh .init .menu-right .user-area .user-menu .item{
	display: block;
	margin: 5px;
	text-decoration: none;
	font-weight: normal;
	color: #333;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	line-height: 25px;
	cursor: pointer;
	padding: 5px 10px;
}
.menu-chinh .init .menu-right .user-area .user-menu .item:hover{
	background: #bbb;
	color: black;
}
.menu-chinh .init .menu-right .search-form .search-input{
	border: none; outline: none;
	background: rgba(255,255,255,.5);
	border: 2px solid rgba(255,255,255,0);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	font-style: italic;
	font-size: 14px;
	font-weight: normal;
	color: #555;
	margin: 5px;
	padding: 5px;
	width: 300px;
	line-height: 25px;
}
.menu-chinh .init .menu-right .search-form .search-input:focus{
	border: 2px solid white;
	color: black;
}
.menu-chinh .init .menu-right .search-form  .fa{
	position: absolute;
	top: 15px; right: 15px;
	z-index: 1;
	color: #555;
}
.footer{
	display: block;
	background: #00dcc2;
	margin: 0; padding: 5px 0;
	border-top: 5px solid white;
	clear: both;
}
.footer .init{
	display: block;
	margin: 5px auto;
	width: 90%;
	max-width: 1200px;
}
.footer .init p{
	display: block;
	line-height: 25px;
	margin: 3px auto;
	text-align: center;
	color: white;
	font-size: 17px;
}
.gioithieusach{
	background: none;
}
.gioithieusach .init{
	display: block;
	margin: 5px auto;
	width: 90%;
	max-width: 1200px;
}
.gioithieusach .init .block-title{
	display: block;
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
	color: green;
	font-weight: bold;
	border-bottom: 1px dashed green;
	padding: 10px auto;
	width: 300px;
}
.gioithieusach .init  .booklist{
	margin: 10px auto;
}
.gioithieusach .init  .booklist .book-item{
	width: 30%;
	display: inline-block;
	margin: 1%;
	background: rgba(255,255,255,.2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.gioithieusach .init  .booklist .book-item .contain-image{
	width: 90%;
	margin: 5% auto;
	display: block;
	padding: 0;
	border: 3px solid gray;
	position: relative;
	height: 200px;
	max-height: 200px;
	overflow: hidden;
}
.gioithieusach .init  .booklist .book-item .contain-image img{
	height: 100%;
	display: block;
	margin: 0 auto;
}
.gioithieusach .init  .booklist .book-item .booklink{
	line-height: 30px;
	display: block;
	margin: 5px auto;
	text-align: center;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	font-size: 16px;
}
.gioithieusach .init  .booklist .book-item .booklink:hover{color: green;}
.gioithieusach .init  .booklist .book-item p{
	margin: 5px 10px;
	display: block;
	line-height: 25px;
	padding: 5px;
	text-align: justify;
	font-size: 13px;
	color: #333;
}
.gioithieusach .init  .booklist .book-item .contain-image .thuesach,
.gioithieusach .init  .booklist .book-item .contain-image .huymuon,
.gioithieusach .init  .booklist .book-item .contain-image .damuon{
	position: absolute;
	top: 40%;
	background: rgba(255,255,255,.8);
	z-index: 10;
	color: red;
	margin-left: 25%;
	width: 50%;
	padding: 10px 0px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	display: none;
}
.gioithieusach .init  .booklist .book-item:hover .contain-image .thuesach{display: block;}
.gioithieusach .init  .booklist .book-item .contain-image .thuesach:hover{color: darkred; background: white;}
.gioithieusach .init  .booklist .book-item:hover .contain-image .huymuon{display: block;}
.gioithieusach .init  .booklist .book-item .contain-image .huymuon:hover{color: darkred; background: white;}
.gioithieusach .init  .booklist .book-item:hover .contain-image .damuon{display: block;}
.gioithieusach .init  .booklist .book-item .contain-image .damuon:hover{color: darkred; background: white;}
/*************************Admin login****************************/
.trangdangnhap{
	width: 100%;
}
.trangdangnhap .init{
	width: 100%;
	padding: 100px;
}
.trangdangnhap .init .logo{
	display: block;
	margin: 0 auto;
}
.trangdangnhap .init .logo img{
	display: block;
	margin: 0 auto;
}
.trangdangnhap .init .login-area{
	display: block;
	margin: 30px auto;
	width: 85%;
	max-width: 400px;
	background: rgba(255,255,255,.7);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	-moz-box-shadow: 0px 0px 10px black;
	-o-box-shadow: 0px 0px 10px black;
	padding: 10px;
}
.trangdangnhap .init .login-area h1{
	display: block;
	margin: 5px auto;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	color: green;
	text-align: center;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}
.trangdangnhap .init .login-area .submit-login{
	display: block;
	margin: 10px auto;
	margin-bottom: 20px;
	border: none;
	outline: none;
	background: green;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.trangdangnhap .init .login-area .submit-login:hover{
	background: darkgreen;
}
.trangdangnhap .init .login-area .form-wrap{
	display: block;
	margin: 10px auto;
}
.trangdangnhap .init .login-area .form-wrap label{
	display: inline-block;
	margin: 0;
	width: 30%;
	text-align: right;
	padding-right: 5px;
}
.trangdangnhap .init .login-area .form-wrap input,
.trangdangnhap .init .login-area .form-wrap select{
	display: inline-block;
	margin: 0;
	width: 60%;
	border: none;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
}
.trangdangnhap .init .login-area .login_status{
	display: block;
	line-height: 25px;
	margin: 10px;
	color: red;
	font-style: italic;
	font-size: 12px;
	text-align: center;
}
.trangdangnhap .init .login-area .user-link{
	display: block;
	margin: 5px auto;
	width: 60%;
	line-height: 25px;
	padding: 3px;
	text-align: left;
	text-decoration: none;
	font-size: 13px;
	font-style: italic;
	color: #777;
	margin-left: 30%;
}
.trangdangnhap .init .login-area .user-link:hover{color: black;}
/*************************Admin main page**************************/
.trangchuquantri{
	display: block;
	margin: 0 auto;
	clear: both;
}
.trangchuquantri .init{
	display: block;
	margin: 5px auto;
	width: 90%;
	max-width: 1200px;
	clear: both;
}
.trangchuquantri .init .sidebar{
	display: inline-block;
	width: 200px;
	margin: 5px;
	padding: 3px;
	background: white;
	float: left;
	clear: both;
}
.trangchuquantri .init .sidebar .title{
	display: block;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;
	border-bottom: 1px dashed gray;
	padding: 5px 10px;
	margin: 0 20px;
}
.trangchuquantri .init .sidebar .menu{
	margin: 5px;
	display: block;
	/* background: rgba(0,0,0,.2); */
	padding: 2px;
}
.trangchuquantri .init .sidebar .menu .label,
.trangchuquantri .init .sidebar .menu .item{
	display: block;
	margin: 2px;
	text-align: left;
	padding: 3px;
	line-height
}
.trangchuquantri .init .sidebar .menu .label{
	color: darkred;
	font-size: 14px;
	font-weight: bold;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	line-height: 30px;
	padding: 3px 10px;
	margin: 3px;
}
.trangchuquantri .init .sidebar .menu .item{
	background: white;
	margin: 3px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	line-height: 25px;
	padding: 3px 10px;
	color: #333;
	font-size: 14px;
	text-decoration: none;
}
.trangchuquantri .init .sidebar .menu .item:hover{
	background: darkred;
	color: white;
}
.trangchuquantri .init .sidebar .menu .item.active,
.trangchuquantri .init .sidebar .menu .item.active:hover{
	background: darkred;
	color: white;
}
.trangchuquantri .init .quickstart{
	display: inline-block;
	margin: 5px;
	padding: 10px;
	background: white;
	width: 950px;
}
.trangchuquantri .init .quickstart .title{
	display: block;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: left;
	border-bottom: 1px dashed gray;
	padding: 5px 10px;
	margin: 0 20px;
}
.trangchuquantri .init .quickstart .title a{
	text-decoration: none;
}
.trangchuquantri .init .quickstart .app-icon{
	margin: 5px;
	display: block;
	/* background: rgba(0,0,0,.1); */
	padding: 5px;
}
.trangchuquantri .init .quickstart .app-icon .app-item{
	display: block;
	margin: 5px;
	padding: 5px 10px;
	line-height: 30px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.trangchuquantri .init .quickstart .app-icon .app-item:hover{
	background: white;
}
/******************Trang danh sach Sach********************/
.trangchuquantri .init .quickstart .app-icon .bangsach{
	display: block;
	margin: 5px;
	padding: 3px;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .mainrow{
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .mainrow p{
	display: inline-block;
	line-height: 30px;
	height: 70px;
	padding: 0;
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background: darkred;
	margin: 0;
	margin-left: -4px;
	border-left: 1px solid white;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .table_danhmucsach p{
	height: 35px;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row{
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin-top: -7px !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row p,
.trangchuquantri .init .quickstart .app-icon .bangsach .row .table_thaotac{
	display: inline-block;
	line-height: 30px;
	height: 40px;
	padding: 0;
	color: #333;
	border-top: 2px solid #d4d4d4;
	border-bottom: 2px solid #d4d4d4;
	background: white;
	margin: 0;
	margin-left: -4px;
	border-left: 1px solid #d4d4d4;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row .table_thaotac .thaotac{
	text-decoration: none;
	color: green;
	font-size: 13px;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row .table_thaotac .thaotac:hover{
	color: darkred;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row .table_tensach{
	font-weight: bold;
	color: green;
}
.trangchuquantri .init .quickstart .app-icon .bangsach .row .table_tensach{
	text-align: left;
	padding-left: 5px;
}
/********************Phan trang**********************/
.phantrang{
	display: block;
	margin: 5px;
	padding: 5px 20px;
}
.phantrang .trang{
	display: inline-block;
	line-height: 25px;
	margin: 0;
	padding: 3px 10px;
	background: #eee;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.phantrang .trang:hover{
	background: #d4d4d4;
}
.phantrang .trang.current{
	color: white;
	background: green;
}

/***********************Add book**************************/
.form-add-book{
	display: block;
	margin: 10px auto;
	max-width: 85%;
	background: #e5fff7;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 10px;
}
.form-add-book .form-wrap{
	margin: 3px;
	display: block;
	padding: 5px;
	vertical-align: text-top;
}
.form-add-book .form-wrap .label{
	display: inline-block;
	width: 30%;
	text-align: right;
	color: #444;
	font-size: 14px;
	vertical-align: text-top;
}
.form-add-book .form-wrap .input-text,
.form-add-book .form-wrap .input-select,
.form-add-book .form-wrap .input-area{
	border: none; outline: none;
	background: rgba(255,255,255,.5);
	box-shadow: 0px 0px 3px #66ffd0;
	-webkit-box-shadow: 0px 0px 3px #66ffd0;
	-moz-box-shadow: 0px 0px 3px #66ffd0;
	-o-box-shadow: 0px 0px 3px #66ffd0;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	width: 60%;
	max-width: 60%;
	display: inline-block;
	padding: 4px 10px;
	color: #333;
	line-height: 25px;
	margin-left: 20px;
	vertical-align: text-top;
}
.form-add-book .form-wrap .input-select,.form-add-book .form-wrap .input-area{margin-left: 15px !important;}
.form-add-book .form-wrap .input-text:focus{
	border: 1px solid #66ffd0;
	background: white;
}
.form-add-book .form-submit{
	display: block;
	line-height: 30px;
	margin: 10px auto;
	padding: 2px 50px;
	background: green;
	color: white;
	font-weight: bolder;
	border: none;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	/**
		Tao bo tron` goc cho 1 phan tu, tuong thich cac trinh duyet
		a ko nho ro lam, nhung moi trinh duyet no hoat dong 1 loai
		-o- : opera
		-webkit: hinh nhu firefox hay chrome j a
		-moz cung la firefox, safari
		ok.hiểu dc rồi a :)
		tai vi 1 so trinh duyet nhung thuoc tinh nay ko hoat dong, nen no co them 1 so dogn` nhu vay
	**/
	border: 3px solid green;
}
.form-add-book .form-submit:hover{
	border: 3px solid #333;
}

/*************************Trang thong bao them sach**************************/
.addbook_status{
	display: block;
	margin: 5px;
	background: green;
	padding: 100px 50px;
}
.addbook_status .action{
	display: inline-block;
	background: white;
	text-decoration: none;
	color: green;
	padding: 10px 50px;
	margin: 10px 20px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
}
.addbook_status .action:hover{
	color: brown;
	cursor: pointer; /*Tao hieu ung khi re chuot vao 1 phan tu no hien hinh ban tay*/
}